body{  
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid  #aaaaaa;;
}

.Main-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.cabecera{
    border: 1px solid #aaaaaa;
    background-color: #0a41cc;
    color: white;
}

.cabecera-blog span{
    display: flex;
    align-items: flex-end;
}

.cabecera h3{
    text-align: left;
    padding: 10px;
}
