body{
    color: rgb(20, 66, 214);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Main-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    
}

.cabecera{
    border: 1px solid red;
}

.Main-container h1{
    font-style: oblique;
}