body{  
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid  #aaaaaa;;
}

.Main-Container {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    text-align: left;
    font-size: 18px;
    padding: 10px;
}

.Main-Container p{
    text-align: center;
}

.cabecera{
    border: 1px solid #aaaaaa;
    background-color: #0a41cc;
    color: white;
}

.cabecera-blog {
    display: flex;
    justify-content: flex-end;
    color:white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    padding: 10px;
}

.cabecera h3{
    text-align: left;
    padding: 10px;
}
